body {
    font-family: sans-serif;
    background: #1e252b;
    color: aliceblue;
}

form {
    margin: 0 auto;
}

tr:hover {
    background: #46558a;
    font-weight: bolder;
}

input:focus {
    outline: none;
}

.auth-input {
    text-align: center;
    margin-top: 200px;
    width: 400px;
    height: 30px;
    border: 0;
    font-size: 15px;
    border-radius: 5px;
}

.checkbox-view {
    position: relative;
    cursor: pointer;
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: middle;
}

#text-description:focus {
    outline: none;
}
