<html>

  <head>
      <title>Advertisement</title>
      {# meta #}
      <meta charset="UTF-8"/>
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/png"/>
      {# css #}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}"/>
      {# js-lib #}
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  </head>

  <body>
      {% block content %}
      {% endblock %}
  </body>

  <footer>
      {# js-custom #}
      <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
  </footer>

</html>