
    <head>

    <!-- meta -->
      <meta charset="utf-8">
      <!-- css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
      <!-- javascript -->
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="//aui-cdn.atlassian.com/aui-hipchat/0.0.3/js/aui-hipchat.min.js"></script>
      <script type="text/javascript" src="//www.hipchat.com/atlassian-connect/all.js"></script>

    </head>

<body>

    <div align="center">
        <input id="tx-title" type="text" title="Title">
        <input type="checkbox" class="spoiler_links" title="Add time stamp">Time</input>
        <input id="cb-message" style="cursor:pointer;" type="checkbox" title="Add message">Notify</input>
        <div  class="spoiler_body">
            <input id="tx-time" type="time" placeholder="hrs:mins" name="time" min="00:00" max="24:00" title="Time stamp">
        </div>
        <input id="bt-change-title" class="button-view bt-change" type="button" value="Change">
    </div>

    <td style="margin-left: "></td>
{#    <div>#}
{#        <input id="bt-rooms" type="button" value="GET">#}
{#    </div>#}
    {# scripts #}

    <script>
    $('#bt-rooms').click(function () {
        console.log("CLICK!")
        HipChat.auth.withToken(function (err, token) {
            $.ajax({
                type: "get",
                url: "/get_members",
                cache: false,
                headers: {'Authorization': 'JWT ' + token},
                success: function () {
                    console.log("SE!")
                }
            });
        });
    });
    </script>

    <script>
        $('#bt-change-title').click(function(){
{#            if ($('#tx-title').val() != "") {#}
                HipChat.auth.withToken(function (err, token) {
{#                    HipChat.room.getParticipants(function(err, success) {#}
{#                        if (err) {#}
{#                            console.log(err.toString())#}
{#                        } else {#}
{#                            //success#}
{#                            //console.log(success["members"][1])#}
{#                            for (var s in success["members"]) {#}
{#                                console.log(success["members"][s]["name"])#}
{#                            }#}
{#                        }#}
{#                    });#}
                    $.ajax({
                        type: "post",
                        data: {
                            text_title: $('#tx-title').val(),
                            text_time: $('#tx-time').val(),
                            cb_message: document.getElementById('cb-message').checked.toString()
                        },
                        url: "/change_title",
                        cache: false,
                        headers: {'Authorization': 'JWT ' + token},
                        success: function () {
                            $('#tx-title').val("");
                            $('#tx-time').val("");
                            $('#tx-time').checked(false);
                        }
                    });
                });
{#            }#}
        });
    </script>

    <script>
    $(document).ready(function(){
        $('.spoiler_links').change(function(){
            $(this).parent().children('div.spoiler_body').toggle('normal');
            return false;
        });
    });
    </script>



