{% extends "base.html" %}
{% block content %}


    <!-- The Modal -->
    <div id="modal-popup" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">×</span>
          <h2 id="modal-info-header">Modal Header</h2>
            <div id="loader-place"></div>
        </div>
          <div id="ad">
                  <div id="change-ad" style="margin-top: 10px; display: none">
                      <input id="tx-ad"
                             style="background-color: lightgrey; border-radius: 5px; border: 0 #46558a; margin-left: 5px" type="text"
                             placeholder="Title"/>
                      <label style="font-size: 14px; margin-left: 20px" for="ch-notify">Notify</label>
                      <input id="ch-notify" class="checkbox-view" type="checkbox"/>
                      <label style="font-size: 14px; margin-left: 20px" for="tx-time">Time</label>
                      <input style="background-color: lightgrey; border-radius: 5px; border: 0 #46558a; margin-right: 20px"
                             id="tx-time" type="time" placeholder="hrs:mins" name="time"
                             min="00:00" max="24:00" title="Time stamp"/>
                      <input id="bt-ch" class="button-view bt-change" type="button" value="Change"
                             onclick="changeGlance();"/>
                      <input id="bt-del" style="float: right"
                             align="right" class="button-view bt-change" type="button" value="Delete"
                             onclick="deleteGlance();"/> </br>
                      <textarea id="text-description"
                                style="margin-left: 10px; margin-top: 10px; width: 380px; height: 100px; display: none; background-color: lightgray; resize: none; border-radius: 3px"
                                placeholder="Description"></textarea>
                  </div>
                  <div class="modal-body"></div>
              <p id="modal-date-created" align="right" style="font-size: 10px"></p>
          </div>
          <div id="modal-error"></div>
          <div align="center" id="modal-place-button-add" style="display: none">
              <input align="right" class="button-view bt-add" type="button" value="Add"
                     onclick="createGlance();"
              />
          </div>
        <div class="modal-footer">
            <h4 id="modal-info-footer">Modal Footer</h4>
            <h4 id="h-roomid" style="display: none"></h4>
        </div>
      </div>

    </div>

    <table align="center">
        <tr>
            <th align="center" style="background-color: #4197cd">Room</th>
            <th align="center" style="background-color: #4197cd">Id</th>
        </tr>
        {% for room in rooms %}
            <tr style="cursor: pointer" class="popup-link"
                onclick="renderInfo('{{room.id}}', '{{room.name}}', '{{room.privacy}}');">
                <td width="500px" align="left">{{room.name}}</td>
                <td>{{room.id}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

